@model IEnumerable<ComicShop.Models.Editora>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editoras</h1>

<p>
    <a asp-action="Create">Criar nova editora</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaisOrigem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoFundacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebSite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaisOrigem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoFundacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebSite)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEditora">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdEditora">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEditora">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
